*.out
*.ipynb
*.pkl
*.dat
*.pyc

MODEL-TRAIN/
.ipynb_checkpoints/
QMUGS/
PARP/
NaturalProducts/
LOGP-JTVAE-PAPER/Mol-Opt/DATA/*.txt
__pycache__/


!GMD/LOGP-JTVAE-PAPER/Mol-Opt/ORIGINAL-JTVAE-RESULTS/results1/*.dat
!GMD/LOGP-JTVAE-PAPER/Mol-Opt/ORIGINAL-JTVAE-RESULTS/results2/*.dat
!GMD/LOGP-JTVAE-PAPER/Mol-Opt/ORIGINAL-JTVAE-RESULTS/results3/*.dat
!GMD/LOGP-JTVAE-PAPER/Mol-Opt/ORIGINAL-JTVAE-RESULTS/results4/*.dat
!GMD/LOGP-JTVAE-PAPER/Mol-Opt/ORIGINAL-JTVAE-RESULTS/results5/*.dat
!GMD/LOGP-JTVAE-PAPER/Mol-Opt/ORIGINAL-JTVAE-RESULTS/results6/*.dat
!GMD/LOGP-JTVAE-PAPER/Mol-Opt/ORIGINAL-JTVAE-RESULTS/results7/*.dat
!GMD/LOGP-JTVAE-PAPER/Mol-Opt/ORIGINAL-JTVAE-RESULTS/results8/*.dat
!GMD/LOGP-JTVAE-PAPER/Mol-Opt/ORIGINAL-JTVAE-RESULTS/results9/*.dat
!GMD/LOGP-JTVAE-PAPER/Mol-Opt/ORIGINAL-JTVAE-RESULTS/results10/*.dat